# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Environment
.env
.env.local
.env.*.local

# Flutter / Dart
mobile/**/.dart_tool/
mobile/**/.packages
mobile/**/.pub-cache/
mobile/**/.pub/
mobile/**/build/
mobile/**/.flutter-plugins
mobile/**/.flutter-plugins-dependencies
mobile/**/ios/Pods/
mobile/**/ios/.symlinks/
mobile/**/ios/Flutter/Flutter.framework
mobile/**/ios/Flutter/Flutter.podspec
mobile/**/ios/Flutter/Generated.xcconfig
mobile/**/ios/Flutter/app.flx
mobile/**/ios/Flutter/app.zip
mobile/**/ios/Flutter/flutter_assets/
mobile/**/ios/Flutter/flutter_export_environment.sh
mobile/**/ios/ServiceDefinitions.json
mobile/**/ios/Runner/GeneratedPluginRegistrant.*

# ESP-IDF
firmware/**/build/
firmware/**/sdkconfig
firmware/**/sdkconfig.old
firmware/**/dependencies.lock
firmware/**/managed_components/

# Misc
*.log
*.tmp
